.rounded-img {
    border-radius: 5%; /* Makes the image round */
    width: 300px; /* Adjust the width to make it smaller */
    height: 400px; /* Adjust the height to make it smaller */
    border: 4px solid #c770f0;
}